/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2017, 9:00:24 PM
    Author     : rhau
*/

@charset "utf-8";

main h1 {
    font-family: Roboto;
    margin-top: 35px;
    color: #333;
    text-transform: uppercase;
}

main hr {
    border-top: 2px solid #BF2025;
    width: 75%;
}

.nav-pills > li a {
    color: #333;
}

.nav-pills > li a:hover,
.nav-pills > li a:focus {
    font-weight: 600;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #BF2025;
    font-weight: normal;
}

.tab-content .list-group {
    margin: 40px auto; 
}

.tab-content .list-group-item {
    margin-bottom: 10px;
}

.tab-content .list-group-item:hover {
    background-color: #F3F3F3;
}

.tab-content .list-group-item-heading .fa {
    margin-right: 5px;
}

.tab-content .list-group-item-heading .badge {
    margin-left: 5px;
    background-color: #BF2025;
}

.tab-content .list-group-item-success .list-group-item-heading .badge {
    background-color: #427836;
}

.tab-content .list-group-item .informacoes {
    list-style: none;
    margin-top: 8px;
    padding-left: 15px;
}

.tab-content .list-group-item .informacoes li {
    margin-top: 3px;
    font-size: 16px;
}

.tab-content .list-group-item .informacoes li strong {
    font-family: Ubuntu;
}

.modal .modal-dialog.modal-sm {
    padding-top: 15%;
}

.modal .modal-footer {
    text-align: center;
}

.modal .btn {
    width: 100px;
}